* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'inter', sans-serif;
}

/* Header */
header {
  background: #0B9586;
  height: 75px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 15px;
    font-size: 20px;    
  
    .logo {
      width: 180px;
  
      img {
        width: 100%;
        filter: invert(20%);
      }
    }
  
    .links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 70%;
      ul {
        display: flex;
        justify-content: space-between;
        width: 50%;
        align-items: center;
        list-style: none;
      
        li {
          margin-right: 20px;
          cursor: pointer;

      
          &.active {
            color: #fff;
            padding: 10px 15px ;
            background: #0000000F;
            border-bottom: 3px solid #0000004D
            /* border-radius: 10px; */
            /* background-color: #0c8375; */
            /* box-shadow: 3px 4px 4px rgb(63, 40, 40);  */
          }
      
          a {
            color: #fff;
            text-decoration: none;
            cursor: pointer;

          }
      
        }
      }
    }
  
    .call {
      color: #fff;
      align-items: center;
      font-size: 23px;
      font-weight: 400;
      p:first-child {
        text-align: end;
        font-weight: 300;
      }
    }
  }
}

/* Home section */
main {
  background-image: url('./img/solar-panels-meadow\ 1.svg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: 89.3vh;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 15px;
    height: 50%;
    color: white;

    .bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 15px;
      width: 290px;
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 16px;

      .progress {
        width: 100%;
        height: 5px;
        background-color: #535b5a;
        border-radius: 10px;
        overflow: hidden;
        position: relative;

        .quart {
          position: absolute;
          top: 0;
          left: 0;
          width: 30%;
          height: 100%;
          background-color: white;
          border-radius: 10px;
        }
      }
    }

    .text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;
      height: 50%;
      font-size: 23px;

      .buttons {
        display: flex;
        align-items: center;
        gap: 20px;

        button {
          background-color: #FFBB1C;
          border: none;
          padding: 10px 20px;
          border-radius: 20px;
          font-size: 16px;
          color: white;
          cursor: pointer;

          &:first-child {
            background-color: #0B9586;
          }
        } 
      }
    }
  }
}

/* section two */
.two {
  padding: 60px;
  height: 80vh;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    height: 100%;

    .text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 60%;
      height: 90%;

      h2 {
        font-size: 37px;
      }

      p {
        font-size: 17px;
        color: #535b5a;
        width: 90%;
      }

    .props {
      display: flex;
      flex-direction: column;
      gap: 12px;
      font-size: 17px;
      
      p {
        color: black;
        font-weight: 700;

        span {
          color: #84BD3A;
          font-weight: 400;
        }
      }

    }

    }
    .imgs {
      width: 36%;
      position: relative;

      img {
        width: 90%;
        height: 90%;
      }

      .abs {
        position: absolute;
        background-color: #FFBB1C;
        padding: 19px;
        bottom: 12px;
        left: -34px;
        width: 50%;
        border-radius: 15px;

        img {
          width: 60%;
        }
        p {
          font-size: 13px;
        }
      }

    }
}
}

/* section three */
.three {
  background-image: url('./img/8116\ 1.svg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: 70vh;

  .container {
    padding-top: 150px;
    padding-bottom: 15px;
    height: 50%;
    color: white;
    font-size: 23px;
    height: 100%;

    .text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 60%;
      height: 60%;

      h2 {
        font-size: 37px;
      }

      p {
        font-size: 17px;
        width: 90%;
      }

      button {
        background-color: #FFBB1C;
        width: fit-content;
        border: none;
        padding: 10px 20px;
        border-radius: 20px;
        font-size: 16px;
        color: white;
        cursor: pointer;
      }
    }

  }
}

/* Solar Kits */
.kits {
  padding: 60px;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    height: 100%;

    h2 {
      font-size: 37px;
    }
    
    p.pkits{
      font-size: 17px;
      color: #535b5a;
      width: 80%;
      margin: auto;
      text-align: center;
    }

    .grids {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;

      .grid {
        box-shadow: 0px 4px 30px 0px #0000000D;
        border-radius: 3px;

        img {
          width: 100%;
          object-fit: cover;
        }

        .text {
          display: flex;
          flex-direction: column;
          gap: 17px;
          padding: 12px;

          p {
            /* text-align: start; */
            color: #535b5a;
            font-size: 12px;
          }

          .vproducts {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 17px;
            color: #0B9586;
  
            img {
              width: 18px;
            }
          }
        }

      }
    }
  }
}

/* Repairs */
.repairs {
  background-image: url('./img/8116\ 2.svg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: 60vh;

  .container {
    display: flex;
    height: 50%;
    color: white;
    font-size: 23px;
    height: 100%;

    .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto;
      width: 70%;
      padding: 30px;
      border-radius: 15px;
      gap: 20px;
      text-align: center;
      position: relative;
      z-index: 1;


      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5); 
        backdrop-filter: blur(3px);
        border-radius: 10px;
        z-index: -1; 
      }

      h2 {
        font-size: 37px;

      }

      p {
        font-size: 17px;
        width: 90%;
      }
    }
  }
}

/* Innovator */
.innovator {
  background-color: #FFFCF4;

  .container {
    display: flex;
    gap: 20px;
    padding: 60px;

    .energy {
      width: 450px;

      .icon {
        background-color: #E2F0E5;
        padding: 7px;
        width: 60px;
        border-radius: 12px;
        
        img {
          background-color: #0B9586;
          padding: 5px;
          width: 100%;
          border-radius: 10px;
          z-index: 5;
        }
      }

      h1 {
        margin: 20px 0;
      }
    } 

    .cards { 
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;

      .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 20px;
        gap: 10px;
        border-radius: 20px;
        width: 360px;
        height: 390px;
        border: 1px solid #3CAB90;
        background-color: #F5F8EF;

        &.last {
          height: 430px;
        }

        img:first-child {
          width: 100%;
          border-radius: 10px;
          padding: 10px;
          background-color: #E5E5E5;
        }

        h2 {
          font-size: 20px;
          font-weight: 600;
        }

        p {
          font-size: 14px;
          color: #535b5a;
          line-height: 22px;
        }

        .vproducts {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 17px;
          color: #0B9586;
        
          img {
            width: 18px;
          }
        }
      }
    } 
  }

}

/* Values */
.values {
  color: black;
  display: flex;
  justify-content: center;
  margin: auto;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    height: 100%;
    padding: 60px 0;

    .cards { 
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;

      .card {
        padding: 30px;
        border: 1px solid #3CAB90;
        background-color: #F5F8EF;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;


        img {
          width: 80px;
        }

        h2 {
          font-size: 22px;
          font-weight: 600;
          margin-top: 15px;
        }

        p {
          font-size: 16px;
          color: #475467;
          line-height: 24px;
          width: 90%;
          margin: auto;
        }

      }
    } 
  }
}

/* Footer */
footer {
  background-color: #283646;

  .container {
  
  .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 18px;
    padding: 30px 0;
    border-bottom: 2px solid rgb(176, 170, 170);

    .left {

      img {
        margin-bottom: 20px;
        filter: invert(20%);
      }
  
      ul {
        display: flex;
        gap: 40px;
        list-style: none;
        
        li {
          
          a {
            cursor: pointer;
            text-decoration: none;
            color: rgb(216, 216, 216);
          }
        }
      }
    }

    .right {
      margin-top: 50px;

      p.title {
        color: rgb(216, 216, 216);
        font-size: 14px;
        margin-bottom: 10px;
      }

      p.email {

        input {
          padding: 15px;
          border: none;
          outline: none;
          width: 350px;
          border-radius: 30px;
          margin-right: -90px;
          background-color: #3B4857;
        }

        button {
          padding: 15px;
          border: none;
          border-radius: 30px;
          background-color: #FFBB1C;
          color: white;
          cursor: pointer;
          z-index: 10;
        }
      }
    }
  }

  .foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    color: rgb(216, 216, 216);
    font-size: 13px;
    color: #b6b6b6;

    span {
      margin: 10px 20px;
    }
  }

  }
}











/* Default styles for all devices */
.container {
  width: 100%;
  max-width: 1200px; 
  margin: 0 auto;
  /* background: #000; */
}

/* For large devices (desktops) */
@media (max-width: 1200px) {
  .container {
    max-width: 1000px; 
  }
}

/* For medium devices (tablets) */
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}

/* For small devices (large smartphones) */
@media (max-width: 768px) {
  .container {
    max-width: 500px;
  }
}

/* For extra small devices (small smartphones) */
@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 20px; 
  }
}
